chromadb==1.0.12
fastapi==0.115.9
groq==0.28.0
langchain==0.3.25
langchain_community==0.3.25
langchain_google_genai==2.1.5
pydantic==2.11.7
python-dotenv==1.1.0
Requests==2.32.4
SQLAlchemy==2.0.41
streamlit==1.45.1
pydantic[email]
protobuf==3.20.0